.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  margin-top: 4vh;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main{
  min-height:100vh;
  background-color: floralwhite;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 4vh;
  margin: auto;
}
label{
  margin: 3vh;
}
input{
  border-radius: 2vh;
  text-align: center;
  padding: 1vh;
  width: 15vh;
  margin-right: 8vh;
  margin-left: 1vh;
}
button{
  width: 10vh;
  border: 1px solid black;
  border-radius: 1vh;
  padding: 1vh;
  margin-top: 2vh;
  align-self: center;
}
